[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = http://github.com/m2ym/auto-complete.git
[submodule "site-lisp/nxhtml"]
	path = site-lisp/nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
[submodule "site/yaml-mode"]
	path = site/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "site-lisp/yaml-mode"]
	path = site-lisp/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "site-lisp/cucumber"]
	path = site-lisp/cucumber
	url = git://github.com/michaelklishin/cucumber.el.git
